<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="/apply.css">
  <link rel="stylesheet" href="/header.css">
  <title>bk</title>
</head>

<body>
  <div class="wrap">
    <%- include('./header')%>
    <div class="container">
      <div class="content_header">
        <div class="logo_area">
          <img src="<%= recruit.Company.logo %>" alt="">
        </div>
        <div class="header_area">
          <h1><%= recruit.title %></h1>
          <h3><%= recruit.Company.name %></h3>
        </div>
        <div class="apply_area">
          <button type="submit" form="apply_form">제출하기</button>
          </form>
        </div>
      </div>
      <div class="content_body">
        <form action="/apply/<%= recruit.id %>" method="post" id="apply_form" enctype="multipart/form-data" accept-charset="UTF-8">
          <h4 class="sub_title">▪︎ 인적사항</h4>
          <ul class="apply_ul">
            <li class="apply_li">
              <div class="label_div"><label for="name">이름</label></div>
              <input type="text" id="name" name="name" value="<%= user.name %>">
            </li>
            <li class="apply_li">
              <div class="label_div"><label for="email">이메일</label></div>
              <input type="email" id="email" name="email" value="<%= user.email %>">
            </li>
            <li class="apply_li">
              <div class="label_div"><label for="phone">휴대폰</label></div>
              <input type="text" id="phone" name="phone">
            </li>
            <li class="apply_li">
              <div class="label_div"><label for="address">주소</label></div>
              <input type="text" id="address" name="address">
            </li>
          </ul>
          <h4 class="sub_title">▪︎ 이력서 / 포트폴리오 첨부</h4>
          <input type="file" id="resume" name="resume" class="resume_input">
        </form>
      </div>
    </div>
  </div>
</body>

</html>